.header {
    background-color: red;
    height: 80px;
    width: 100%;
}
.main {
    background-color: springgreen;
    height: 800px;
    width: 100%;
    position: relative;
    text-align: left;

}
.footer {
    background-color: yellow;
    height: 60px;
    width: 100%;

}
.articel {
    background-color: gray;
    height: 800px;
    width: 30%;
    right: 20px;
    position: absolute;
}
.about {
    background-color: salmon;
    height: 100px;
    width: 100px;
    right: 30px;
    position: absolute;
    position: fixed;
    text-align: center;
}

