p {
    color: rgb(0, 0, 0);
}

/* PSEUDO CLASS CSS */
/* hover */
/* a:hover{ */
h3:hover {
    color: rgb(0, 183, 255);
}
/* FIRST-CHILD & LAST-CHILD */
.judul {
    background-color: rgb(255, 255, 255);
}
.judul h3 {
    margin: 0%;
}
.Navigasi a {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 40%;
    font-size: 16px;
    margin: 0%;
}
a:hover {
    color: rgb(247, 115, 7);
}
.latihan {
    background-color: rgb(164, 250, 4);
}
.content {
    background-color: rgb(145, 144, 94);
    color: white;
    height: 300px;
    border-left: rgb(255, 0, 0);
    margin-right: 10px;
}
.content .paragraf {
    background-color: darkorange;
    height: 200px;
    overflow: auto;
}
/* FLOAT */
/* Mengatur posisi dari sebuah element. sebuha element bisa dipaksa untuk berada disebelah kiri atau kanan dari parent */
.gambar {
    margin: 150px;
    float: left;
    width: 30;
}
